.body{
    background-color: indigo;
    text-align: center;
}
.Matrix{
    border: 1px solid black;
    background-color: black;
    height: 540px;
    width: 540px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Matrix div{
    height: 60px;
    width: 60px;
}

.Ending-Row{
    background-color: red;
}

.Start-Row{
    background-color: blue;
}
 

.t1, .t2, .t3{
    background-image: url('../images/tree.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index:200;;
} 

.t4, .t5{
    background-color: lightblue;
}

.c1{
    background-image: url('../images/car-PhotoRoom.png');
    background-color: lightgray;
    
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index:200;
    
}

.c2, .c3{
    background-color: lightgray;
}


#Start-Pause-button{
    border-bottom: 10px;
    padding: 10px;
}

.frog{
    
    background-image: url('../images/frog_1.jpeg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 200;
}

#Frog-image{
    max-width: 100%;
    max-height: 100%;
}

